* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
body {
  background-color: #ccccff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}
a {
  color: #000000;
  text-decoration: none;
}
#app {
  background-color: #ffffff;
  width: 360px;
  height: 640px;
  border: 15px solid #000000;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  padding-bottom: 50px;
}

.topbar {
  background-color: #dddddd;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.topbar h1 {
  font-size: 2em;
}
.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 15px 36px 15px;
    overflow-y: scroll;
}
.navigation {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #dddddd;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;

}
.navigation a {
  color: #111111;
}
.navigation .menu-item {
  text-align: center;
  flex-grow: 1;
}
.navigation .menu-item p {
  margin-top: 5px;
  font-size: 0.5em;
}
.navigation i {
  font-size: 1.5em;
}
.content-in-home {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  margin-top:1px;
  padding:10px;
}
.content-in-home-2 {
  font-size:20px;
  text-align: center;
  
}


/* Calendar Style */
.ui-widget.ui-widget-content {
  border: 0;
}
.ui-widget-header {
  background-color: transparent;
  border: 0;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  background-color: transparent;
  border: 0;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  background-color: #3475E0;
  border: 0;
}

/* Button */
.button {
    background-color: #3D72DE;
    padding: 10px 15px;
    border-radius: 10px;
    width: 200px;
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-size: 22px;
  }
.button-half-container {
  margin: 0 auto;
  display: block;
}
.button-half {
  width: 100px;
  display: inline-block;
}
.icon-in-button {
  display: inline; 
  margin-right: 5px;
}

.search-result-box {
  border-radius: 25px;
  background: #eeeeee;
  border: 10px;
  width: 300px;
  height: 100px;
  float: left;
  object-fit: cover;
  text-align: top;
  display: flex;
}
.tutor-box {
  padding: 10px;
}

.inputs {
  display: flex;
  flex-direction: column;
}
.pull-right {
  align-self: flex-end;
}
.image-fit {
  max-width: 100%;
  max-height: 100%;
}

.joel-info {
  text-align: top;
  float:center;
}

.button-1 {
  background-color: #3D72DE;
  padding: 10px 15px;
  border-radius: 10px;
  width: 200px;
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

.button-2 {
  background-color: #3D72DE;
  padding: 10px 15px;
  border-radius: 10px;
  width: 200px;
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

.button-3 {
  background-color: #3D72DE;
  padding: 10px 15px;
  border-radius: 10px;
  width: 200px;
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}
/*how do I algin button 2 and 3 side by side*/
.button2-3 {
  float: left;
}

.student-content {
  text-align: left;
  font-weight: bold;
  font-size:18px;
  padding:10px;
}
.student-content-1 {
  text-align: left;
  font-size:18px;
  padding:10px;
  height: 250px;
}
.student-content-2 {
  text-align: left;
  font-weight: bold;
  font-size:18px;
  margin-top: auto;
  padding:10px;
}


.Reviews-Ratings {
  background-color: #3D72DE;
  padding: 10px 15px;
  border-radius: 10px;
  width: 200px;
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  font-size: 22px;
}

.Reviews-Ratings-box {
  border-radius: 25px;
  background: #DDDDDD;
  background-position: left top;
  background-repeat: repeat;
  padding: 20px;
  width: 100%;
  height: 370px;
  border: 1px solid black;
}

select {
    width: 250px;
    height: 30px;
    border-width: 3px;
    margin: 10px 10px 10px 0px
}

input-module-code{
  width: 250px;
    height: 30px;
    border-width: 3px;
    margin: 10px 10px 10px 0px
}
.other-request {
  margin-top: 30%;
}
label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}

.youtube-icon{
 position: absolute;
 left: 73.33%;
 top: 20%;;
}